.active {
  font-style: oblique;
  font-weight: bolder;
  color: white;
}

.pending {
  background-color: #ff9800;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
  background-color: rgb(159, 255, 191);
}

.cards{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
